<div class="container">
  <mat-card *ngIf="assignmentTransmis">
    <mat-card-title>{{assignmentTransmis.nom}} ({{assignmentTransmis.matiere}})</mat-card-title>
    <mat-card-subtitle>{{assignmentTransmis.dateDeRendu|date}}</mat-card-subtitle>
    <p>Remarques : {{assignmentTransmis.remarques}}</p>
    <p>Note : {{assignmentTransmis.note}}</p>
    <div id="bottom">
      <!--Note sur 20, on ne peut marquer "rendu" un Assignment qui n'a pas été noté.-->
      <mat-checkbox *ngIf="(!assignmentTransmis.rendu) && (estNote(assignmentTransmis.note))" (click)="onAssignmentRendu()">
        Devoir rendu
      </mat-checkbox>
      <nav><a routerLink="/assignment/{{assignmentTransmis.id}}/edit">
        <button mat-stroked-button
                color="primary"
                type="submit"
                [disabled]="!isConnected()"
        >
        EDIT
      </button>
       </a></nav>
      <button mat-flat-button color="warn" (click)="onDelete()" [disabled]="!isAdmin()">
        DELETE
      </button>
    </div>
  </mat-card>
</div>
